# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Atividade1.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\saulo\Documents\Dependências Terceiro Periodo\PROGRAMAÇÃO WINDOWS AVANÇADA\Atividade1\Atividade1\Atividade1\.idea\.idea.Atividade1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
