@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
                
    <div id="cardDados" class="card" style="width: 18rem;">
        <div class="card-header">
            Sugestões de Duvidas
        </div>
        <div class="card-body">
            <a class="navbar-brand" asp-area="" asp-controller="Externo" asp-action="Index" style="font-size: 1rem;">Deseja mudar a senha?</a>
            <a class="navbar-brand" asp-area="" asp-controller="Externo" asp-action="Index" style="font-size: 1rem;">problema de cadastro de bife?</a>
            <a class="navbar-brand" asp-area="" asp-controller="Externo" asp-action="Index" style="font-size: 1rem;">Não recebe as notificações?</a>
        </div>
    </div> 
                
</div>