@model Atividade1.ViewModels.Cliente.ClienteViewModel

<h1>Sessão Cliente</h1>

<div>
    @if (@Model.MsgSucess != null)
    {
        <p style="text-align: center; color: #28a745">@Model.MsgSucess</p>
    }
</div>

<table class="table table-striped">
   
     <fieldset>
        <legend>Cadastro de cliente</legend>
        <form method="post" asp-action="SessaoCliente" asp-controller="Interno" > 
            <input type="hidden" name="ac" value="Cadastrar" />
            
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input type="text" class="form-control" id="Nome" name="Nome" />
            </div>
            
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" class="form-control" id="Email" name="Email" />
            </div>
            
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input type="text" class="form-control" id="CPF" name="CPF" />
            </div>
            
            <div class="form-group">
                <label for="Data">Data Nasciemento:</label>
                <input type="text" class="form-control" id="Data" name="Data" />
            </div>
            
            <div class="form-group">
                <label>Tipo Cliente: </label>
                <select name="tipoCliente" class="form-control">
                    <option value="Fisica">Fisica</option>
                    <option value="Juridica">Juridica</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="Endereco">Endereço:</label>
                <input type="text" class="form-control" id="Endereco" name="Endereco" />
            </div>
            
            <div class="form-group">
                <label for="Descricao">Descrição:</label>
                <input type="text" class="form-control" id="Descricao" name="Descricao" />
            </div>
            
            <div class="form-group">
                <label for="Observacao">Observação:</label>
                <input type="text" class="form-control" id="Observacao" name="Observacao" >
            </div>
            
            <div class="form-group">               
                <button type="submit" class="btn btn-primary" >Salvar</button>
            </div>
        </form>
     </fieldset>
     <hr/>
     <fieldset>
     <legend>Pesquisar:</legend>
             <form method="POST" asp-action="" asp-controller="" > 
                 <input type="hidden" name="ac" value="pesquisar" />
                 
                 <div class="form-group">
                     <label for="cpNome">Nome:</label>
                     <input type="text" class="form-control" id="cpNome" name="cpNome" >
                 </div>
                 
                 <div class="form-group">
                     <select name="tipoCliente">
                         <label>Tipo Cliente: </label>
                         <option value="Fisica">Fisica</option>
                         <option value="Juridica">Juridica</option>
                     </select>
                 </div>
                 
                 <div class="form-group">               
                     <button type="submit" class="btn btn-primary" >Buscar</button>
                 </div>
             </form>
     </fieldset>
     
     <p>Clientes</p>    
     <thead>
     <tr>
         <th>TIpo Cliente</th>
         <th>Nome</th>
         <th>Email</th>
         <th>Data de Nascimento</th>
         <th>CPF</th>
         <th>Data Inserção</th>
         <th>Data Alteração</th>
         <th>Ação 1</th>
         <th>Ação 2</th>
     </tr>
     </thead>
     <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a>Editar</a></td>
            <td><a>Excluir</a></td>
        </tr>
     </tbody>
        
 </table>
