@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
                
    <div id="cardDados" class="card" style="width: 18rem;">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form method="post" action="">
                <div class="form-group">
                    <label for="cpEmail">Email:</label>
                    <input type="text" class="form-control" id="cpEmail" name="cpEmail" aria-describedby="emailHelp">

                    <label for="cpSenha">Senha:</label>
                    <input type="text" class="form-control" id="cpSenha" name="cpSenha" aria-describedby="emailHelp">
                </div>
                            
                <button type="button" id="btn" name="btn" class="btn btn-primary">Logar</button>
            </form>
        </div>
    </div> 
                
</div>