@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Políticas de Privacidade</h1>
    <br/>
    <p>
        A Política de Privacidade e Segurança criada 
        e utilizada pela BRSA regula a coleta, guarda 
        e utilização de dados pessoais, bem como a sua
        segurança. Essa Política específica integra 
        inseparavelmente estes Termos e Condições de Uso,
        ressaltando-se que os dados de utilização do SITE 
        serão arquivados nos termos da legislação em vigor.
    </p>
</div>