@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
                
    <div id="cardDados" class="card" style="width: 18rem;">
        <div class="card-header">
            Recuperar conta
        </div>
        <div class="card-body">
            <form method="post" action="">
                <div class="form-group">
                    <label for="cpEmail">Informe um email:</label>
                    <input type="text" class="form-control" id="cpEmail" name="cpEmail" aria-describedby="emailHelp">
                </div>
                <button type="button" id="btn" name="btn" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div> 
                
</div>
<br/>
<div style="text-align: center;">
    Enviaremos um email para que você possa mudar sua senha e recuparar a conta.    
</div>
