@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Termos de Uso</h1>
    <br/>
    <p>
        O USUÁRIO está obrigado a utilizar o SITE respeitando e
        observando estes Termos e Condições de Uso, bem como a
        legislação vigente, os costumes e a ordem pública. Desta
        forma, você concorda que não poderá: (i) lesar direitos de 
        terceiros, independentemente de sua natureza, em qualquer 
        momento, inclusive no decorrer do uso do SITE; (ii) executar 
        atos que limitem ou impeçam o acesso e a utilização do SITE,
        em condições adequadas, aos demais USUÁRIOS;
    </p>
</div>